/* Color guidance:
 * https://ucpa.ucsd.edu/brand/elements/color-palette/
 * https://ucpa.ucsd.edu/brand/applications/web/
 */
.header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 35px;
  margin: 20px;
  color: goldenrod;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.topbar {
  /* background-color: #006A96;  */
  background-color: black;
  padding: auto;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.navbar a {
  margin: auto;
  color: #ffffff;
  text-decoration: none;
  font-size: large;
}

.navbar a:hover {
  text-decoration: underline;
}

body {
  margin: 0px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

main {
  line-height: 1.5;
  padding: 25px;
  margin-left: 10px;
  /* padding-left: 20px; */
}

main ul {
  list-style-type: square;
}

main li {
  margin: 0.25em;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.joinText {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* font-weight: 700; */
  color: white;
  background-color: darkgrey;
  border: 5px white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: large;
  cursor: pointer;
  /* border-radius: 50%; */
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 150px;
  font-size: 16px;
  margin: 4px 2px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 8px;
}

.bio-text {
  margin: 0;
}

.margin-above {
  margin-top: 12px;
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
